*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: Lato;
}

body {
    background: url(../img/background-home.jpg) no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}


/*-----------------background-------------------------*/

@media (max-width: 1366px) {
    ._container {
        max-width: 900px;
    }
}
@media (max-width: 1024px) {
    ._container {
        max-width: 800px;
    }
}




/*-----------------header-----------------------------------*/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 62px;
    height: 72px;
}

.header-logo {
    font-family: Damion;
    font-size: 50px;
}

.header-ul {
    display: flex;
}

.header-link:link, .header-link:visited {
    padding: 10px 25px 0px;
    color: #fff;
    display: block;
    transition: all .6s ease-out;
}

.header-link:hover, .header-link.header-active {
    background-color: #74c7d5;
    border-radius: 0 0 10px 10px;
}
@media (max-width: 768px) {
    .header-nav {
        height: 220px;
    }
    .header-ul {
        flex-wrap: wrap;
        margin-left: 20px;
        padding-top: 20px;
    }
    .header-link {
        font-size: 22px;
    }
    .header-logo {
        font-size: 60px;
    }
    .header-link:hover, .header-link.header-active {
        border-radius: 10px;
    }
}
@media (max-width: 500px) {
    .header-nav {
        display: block;
        line-height: 62px;
        height: 72px;
    }
    .header-logo {
        text-align: center;
    }
    .header-nav {
        height: 450px;
    }
    .header-ul {
        display: block;
        width: 160px;
        margin: 0px auto;
        text-align: center;
    }
}

/*------------slider-main---------------------*/
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 345px 50px 302px 50px;
}

.background-main-white {
    height: 170px;
    width: 840px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: right;
    display: none;
}

.active-main {
    display: flex;
}

.good-ideas {
    font-weight: 300;
    font-size: 60px;
    color: #74c7d5;
    line-height: 58px;
    margin-right: 20px;
}

.first {
    font-weight: 900;
    font-size: 138.48px;
    color: #74c7d5;
    line-height: 138.48px;
    padding-right: 10px;
}


.arrow {
    width: 40px;
    height: 40px;
    border-top: 6px solid rgb(255, 255, 255, 0.5);
    border-right: 6px solid rgb(255, 255, 255, 0.5);
    transition: all .6s ease-out;
}

.right {
    transform: rotate(45deg);
}

.arrow:hover {
    border-top: 6px solid #74c7d5;
    border-right: 6px solid #74c7d5;
}

.left {
    transform: rotate(-135deg);
}

.left, .right {
    cursor:pointer ;
}

.cricles {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.cricle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.5);
}

.active-cricle {
    background-color: #74c7d5;
}

.cricle:not(:last-child) {
    margin-right: 40px;
}

@media (max-width: 1366px) {
    
    .background-main-white {
        height: 170px;
        width: 540px;
    }
    .good-ideas {
        font-size: 42px;
        line-height: 40px;
        margin-right: 10px;
    }
    
    .first {
        font-size: 80px;
        line-height: 80px;
        padding-right: 10px;
    }
}
@media (max-width: 1024px) {
    .background-main-white {
        height: 170px;
        width: 440px;
    }
    .good-ideas {
        font-size: 42px;
        line-height: 40px;
        margin-right: 10px;
    }
    
    .first {
        font-size: 80px;
        line-height: 80px;
        padding-right: 10px;
    }
    .arrow {
        width: 40px;
        height: 40px;
        border-top: 6px solid rgba(59, 59, 59, 0.5);
        border-right: 6px solid rgba(59, 59, 59, 0.5);
    }
    .cricle {
        width: 20px;
        height: 20px;
        background-color: rgba(59, 59, 59, 0.5);;
    }
    .active-cricle {
        background-color: #74c7d5;
    }
}

@media (max-width: 768px) {
    .slider {
        margin: 185px 30px 132px 30px;
    }
    
    .cricle-one {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 600px) {
    .slider {
        margin: 102px 10px 72px 10px;
    }
    .background-main-white {
        height: 185px;
        width: 240px;
        text-align: center;
    }
    .good-ideas {
        margin-right: 0px;
    }
    
    .first {
        font-size: 60px;
        line-height: 60px;
        padding-right: 0;
    }
}

