@font-face {
    font-family: 'Avenir';
    src: local('Avenir Roman'), local('Avenir-Roman'), url('../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir Heavy'), local('Avenir-Heavy'), url('../fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir Medium'), local('Avenir-Medium'), url('../fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), local('Playfair-Display'), url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}